<%= error_messages_for(@album) %>

<table summary="Photo form fields">
  <tr>
    <th><%= f.label(:caption) %></th>
    <td><%= f.text_field(:caption) %></td>
  </tr>
  <tr>
    <td><%= f.file_field(:image) %></td>
  </tr>
</table>

