<h1>User#show</h1>
<p>Find me in app/views/user/show.html.erb</p>




<%= link_to("New Album", controller: "album", action: "new", :id => @user.id) %><br />

<%= @user.albums.count %> <br />

<%= "#{@user.firstname}'s albums:" %>
<% if !@albums.nil? %>
  <% @albums.each do |a| %>
	<%= link_to(a.title, :controller => "album", :action => "show", :id => a.id) %>
  <% end %>
<% end %>

<br />
