 <section id="firstpage" data-role="page">
        <header data-role="header"><h1>Page Transitions</h1></header>
        <div class="ui-content">
            <p>Let's try some transitions!</p>
            <p><a href="#secondpage" data-transition="fade">Fade to second page</a></p>
            <p><a href="#secondpage" data-transition="flip">Flip to second page</a></p>
            <p><a href="#secondpage" data-transition="pop">Pop to second page</a></p>
            <p><a href="#secondpage" data-transition="slide">Slide to second page</a></p>
            <p><a href="#secondpage" data-transition="slidedown">Slide down to second page</a></p>
            <p><a href="#secondpage" data-transition="slideup">Slide up to second page</a></p>
        </div>
        <footer data-role="footer"><h2>Page Transitions</h2></footer>
    </section>