<h1>Photo#new</h1>
<p>Find me in app/views/photo/new.html.erb</p>

<div class="photos new">
  <h2>Create Photo</h2>

  <%= form_for Photo.new, :html => { :multipart => true, :id => "fileupload"  } do |f| %>
    <%= render(:partial => "photo_uploads", :locals => {:f => f}) %>
  <% end %>



</div>

