<!DOCTYPE html>
<html>
	<head>
	  <title>Photopie</title>
	  <%= stylesheet_link_tag("application", :media => "all") %>
	  <%= javascript_include_tag("application") %>
	</head>
	<body>

	<%= yield %>


	<% if !flash[:notice].blank? %>
	  <div class="notice">
		<%= flash[:notice] %>
	  </div>
	<% end %>
	
	</body>
</html>
